<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josue_martinez.memory">

    <!-- PERMISO PARA USAR INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_question"
        android:supportsRtl="true"
        android:theme="@style/Theme.Memory">
        <activity android:name=".activities.DificilActivity"></activity>
        <activity android:name=".activities.MedioActivity" />
        <activity android:name=".activities.FacilActivity" />
        <activity android:name=".activities.PuntuacionesActivity" />
        <activity android:name=".activities.CreditosActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>